body{
     background-color: rgb(62, 62, 212);
     margin: 0;
     


}





h1{  
    
    text-align: center;
    font-weight: bold;

 


}

header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(14, 14, 221);





}
header img{
    width: 6vw; /* vw: viewport width */
    padding: 4px;
    margin-right: 10px;

}

.menu a{
      color: rgb(206, 151, 151);
      text-decoration: none;
      font: 12pt;
      margin-left: 15px;



}


h2 {
  text-align: center;
  color: #f9ac11;
  font-weight: bolder;
  padding: 12px;
  font-family: 'Anton', sans-serif;



}

.legenda {
 text-align: center;
 color: brown;
 font-weight: 32px;
 font-style: oblique;
 

}

#gato { display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    padding: 12px;
    
}

aside{
     display: flex;
     justify-content: space-between;
     align-items: center;
     
     



}

p, ul{
    padding: 10px;
    margin: 0px 10px 0px 10px; /* cima - direita - baixo - esquerda */
    color: burlywood;
    font-weight: bolder;
    text-align: center;
}

h1{
   color: #f9ac11;
   font-family: 'Anton', sans-serif;
   font-size: 48px;



}

iframe{
     margin-right: auto;
     margin-left: auto;
     display: block;




}

.sinopse {
font-size: 11pt;
font-family: 'Anton', sans-serif;
line-height: 20px;
letter-spacing: 1px;
margin-left: 15px;
margin-top: 10px;

}

